.black-bg {
    background-color: black;
}

.login-wrapper {
    height: 400px;
    position: relative;
}

.input-row {
    position: relative;
}

#loginSlide {
    width: 80vw;
}

.img-logo {
    width: 60vw;
    margin: auto;
    margin: 0;
}

.access_code {
    background-color: #344860;
    border: none;
    height: 70px;
    position: absolute;
    width: 40vh;
    z-index: -1;
    color: #fff;
    font-size: 25px;
    letter-spacing: 7px;
}

.access_code:focus-visible {
    border: none;
}

@media (min-width: 320px) {
    #loginSlide {
        width: 100vw;
    }
    .access_code {
        width: 35vh;
    }
    .text {
        left: 0;
    }
}

@media (min-width: 320px) {
    .text {
        left: 28px;
    }
}

@media (min-width: 576px) {
    #loginSlide {
        width: 40vw;
    }
    .access_code {
        width: 20vh;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .access_code {
        width: 50vh;
    }
}


/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {}


/* LOADER */

.overlay {
    height: 100%;
    width: 100%;
    /* display: none; */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 1);
}

.bt-spinner {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #344860;
    border-top: 2px solid #ffc80d;
    -webkit-animation: 1s spin linear infinite;
    animation: 1s spin linear infinite;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* LOADER */